[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/tinyobj"]
	path = external/tinyobj
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/lodepng"]
	
	path = external/lodepng

	url = https://github.com/lvandeve/lodepng.git
