# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.metadata
/RemoteSystemsTempFiles
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CG2015.dir/Debug/CG2015.tlog/CG2015.lastbuildstate
/CG2015.dir/Debug/CG2015.tlog/CL.read.1.tlog
/CG2015.dir/Debug/CG2015.tlog/CL.write.1.tlog
/CG2015.dir/Debug/CG2015.tlog/cl.command.1.tlog
/CG2015.dir/Debug/CG2015.tlog/custombuild.command.1.tlog
/CG2015.dir/Debug/CG2015.tlog/custombuild.read.1.tlog
/CG2015.dir/Debug/CG2015.tlog/custombuild.write.1.tlog
/CG2015.dir/Debug/CG2015.tlog/link.command.1.tlog
/CG2015.dir/Debug/CG2015.tlog/link.read.1.tlog
/CG2015.dir/Debug/CG2015.tlog/link.write.1.tlog
/CG2015.sdf
/CG2015.sln
/CG2015.vcxproj
/CG2015.vcxproj.filters
/CMakeCache.txt
/CMakeFiles/3.2.0-rc1/CMakeCCompiler.cmake
/CMakeFiles/3.2.0-rc1/CMakeCXXCompiler.cmake
/CMakeFiles/3.2.0-rc1/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.2.0-rc1/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.2.0-rc1/CMakeRCCompiler.cmake
/CMakeFiles/3.2.0-rc1/CMakeSystem.cmake
/CMakeFiles/3.2.0-rc1/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.2.0-rc1/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/cl.command.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/cl.command.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/CMakeFiles/3.2.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/CMakeFiles/43b1c7e1e13c9ec7e7c20c2dc0f1a994/generate.stamp.rule
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/cmake.check_cache
/CMakeFiles/feature_tests.bin
/CMakeFiles/feature_tests.cxx
/CMakeFiles/generate.stamp
/CMakeFiles/generate.stamp.depend
/CMakeFiles/generate.stamp.list
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/cmake_install.cmake
/*.opensdf
/CMakeFiles/3366d2c30a6b29124db3dee2e2532782/*.rule
/CMakeFiles/43b1c7e1e13c9ec7e7c20c2dc0f1a994/*.rule
